[submodule "beginners-python"]
	path = beginners-python
	url = https://github.com/warwickdatasciencesociety/beginners-python.git
[submodule "into-the-tidyverse"]
	path = into-the-tidyverse
	url = https://github.com/warwickdatasciencesociety/into-the-tidyverse.git
