[submodule "beginners-python"]
	path = beginners-python
	url = git://github.com/warwickdatasciencesociety/beginners-python
[submodule "into-the-tidyverse"]
	path = into-the-tidyverse
	url = git://github.com/warwickdatasciencesociety/into-the-tidyverse
